aiofiles
aiohttp
apscheduler
beautifulsoup4
dnspython
gitpython
hachoir
httpx
humanize
requests
python-dotenv
pyyaml
unidecode
tgcrypto==1.2.5
pyrofork==2.3.45
ffmpeg-python
py-tgcalls==2.1.0
ntgcalls==1.3.3
motor
psutil
heroku3
Pillow
speedtest-cli
yt-dlp
youtube-search
youtube-search-python
py-yt-search
spotipy
prettytable
openai
pykeyboard
aiofiles
aiohttp
apscheduler
beautifulsoup4
dnspython
gitpython
hachoir
httpx
humanize
requests
python-dotenv
pyyaml
unidecode
unidecode
tgcrypto
pyrofork
ffmpeg-python
py-tgcalls
ntgcalls
motor
psutil
heroku3
Pillow
speedtest-cli
yt-dlp
youtube-search
youtube-search-python
py-yt-search
spotipy
prettytable
openai
pykeyboard
