API_ID=39930006
API_HASH=0c1afd87f1a69d0e9a8b06b779480f51
BOT_TOKEN=8769127995:AAFyjgnxfz3ZhwDgZA7j0Qalm7RKlhPznfI
LOGGER_ID=-1003671917335
MONGO_DB_URI=mongodb+srv://saranjaat9694:saranjaat435@cluster0.ofptc9e.mongodb.net/?appName=Cluster0
OWNER_ID=7169279112
STRING_SESSION=AQHd0VwAGpEW9WL5Ce8zLkb8WJ9pC4oxjQglWOkAq1Qg1ptYS70m5sEucNExue9oX80FMOW7PbH-II8pYuiDWu6e46Ecs0CE6jScjRRtlaM7g_mwuuImrLfEGQQbOurnlanbPyjvVCKqgIvlyTxoU1uA0rk7UyMf2zFU-qChVxVCHQ95iZ52LqiH6AJACle5FZLOBmn7YDt0qxLn6JZ7Z84UYRgMSmw6svPVYGXGJz1ia24i4a2HAgAjrdStGBaxpQCQ67XM35eQOex-07E88oZ9vPRghi9FUGPGRA47jz5fFvAifqIS0Yij7zX9kh57gVBhH2EAIQynu0baD9i-ZMdhru5E4AAAAAH4pSXxAA
