API_ID=39930006
API_HASH=0c1afd87f1a69d0e9a8b06b779480f51
BOT_TOKEN=8680965856:AAHUXPYY0WdFwXqYeHnXXGXsmW1zoRdNIO4
LOGGER_ID=-1003991995988
MONGO_DB_URI=mongodb+srv://saranjaat:Saran1221@cluster0.iggqlxu.mongodb.net/?appName=Cluster0
OWNER_ID=7169279112
STRING_SESSION=AQHd0VwAm5Q-aKMGJEIJIlAhFthZt_ocCdfCDUwfNuUuJAuWX97pyqRTiOOmcfxgiVwO7VHoGics8JznvndLTsHt7FUa-03EE5rGaGpkn2Dj-umq8Xr5i0eqAOYnk1eXcfMpn7eZNskS0mAFzJvYjXZKPC9Fotg5cWF_z9gaw4sjuQE0dz1eUo1xnhe01x8bMIACpfQo4xs1sNuEDdJgHkZ-DLsNhmoHytcq2zFS0fA1gbT5aJtEcwunyM6S0KbRjyy3EJGDCYt7rbp1Jg5FLeYM9xiPYrMlx2qjqhy87CyTkbpAhwzn1tnfSottisdVNkPu1IjrzKN-oOyX1WQ5NSluWPiGdAAAAAH4pSXxAA
